*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background: url('./background.jpg');
  width: 100%;
}

main{

}

.mainWrapper{
  width: 75%;
  margin-left: 12.5%;
  margin-top: 50px;
}

.askButtonWrapper{
  display: flex;
  justify-content: center;
  height: 40px;
}

.askButtonWrapper button{
  width: 100px;
  background-color: turquoise;
  border-radius: 10px;
}

.askButtonWrapper button:hover{
  background-color:rgb(63, 168, 158);
}

.headingWrapper{
  margin: 0 auto;
  margin-top: 30px;
  width: inherit;
}

.topDiv{
    background-color: rgb(0, 255, 255);
    color: rgb(0, 0, 0);
    display: grid;
    margin-top: 10px;
    height: 40px;
    grid-template-columns: repeat(5,1fr);
}

.topDiv div{
  margin-top: 6.25%;
    align-items: center;
    text-align: center;
}
.topDiv button{
  margin-top: 3.125%;
  height: 30px;
  border-radius: 5px;
  background-color: red;
}

.loginContainer{
  display: relative;
  text-align: center;
  width: 100%;
}

.popUpContainer{
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border-radius: 20px;
  border: 3px solid #999999;
  z-index: 9;
}

.popUpForm{
  max-width: 250px;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(0, 255, 42);
}

.popUpForm input{
  height: 40px;
}

.popUpForm button{
  border-radius: 0px;
  margin-bottom: 5px;
  width: 200px;
  height: 40px;
}

.addBook{
  margin-top: 20px;
}

.warning{
  color: red;
}

.statusButton .deleteButton{

    border-radius: 5px;
}

