*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { 
  background-color: rgb(45, 92, 59);
  background: url("./background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  width: 100%;
}

main{

}

.mainWrapper{
  width: 75%;
  margin-left: 12.5%;
  margin-top: 50px;
}

.askButtonWrapper{
  display: relative;
  text-align: center;
  width: 100%;
}

.askButtonWrapper button{
  background-color: rgb(45, 92, 59);
  position: fixed;
  right: 5%;
  bottom: 5%;
  height: 40px;
  width: 100px;
  transform: translate(-5%, 5%);
  border-radius: 5px;
  border: 3px solid #999999;
  z-index: 5;
  font-weight: bold;
  color: aqua;
}

.askButtonWrapper button:hover{
  background-color:rgb(39, 131, 66);
  cursor: pointer;
}

.headingWrapper{
  margin: 0 auto;
  margin-top: 30px;
  width: inherit;
}


*/
.loginContainer{
  display: relative;
  text-align: center;
  width: 100%;
}

.popUpContainer{
  position: fixed;
  right: 0%;
  bottom: 5%;
  transform: translate(-5%, 5%);
  border-radius: 20px;
  border: 3px solid #999999;
  z-index: 9;
}

.popUpForm{
  max-width: 250px;
  border-radius: 20px;
  padding: 20px;
  background-color: #5b7e5f;
  background-image: linear-gradient(315deg, #8fa391 0%, #436650 74%);
}

.popUpForm input{
  height: 40px;
  border-radius: 5px;
}

.popUpForm button{
  border-radius: 5px;
  margin-bottom: 5px;
  width: 200px;
  height: 40px;
}

.addBook{
  margin-top: 20px;
  background-color:rgb(45, 92, 59);
}

.warning{
  color: rgb(255, 0, 0);
}

.deleteButton{
  background-color:rgb(45, 92, 59);
}

.deleteButton:hover {
  background-color: red;
}


.mainCardContainer{
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(3,1fr);
  transform: translate(-10%,0%);
  row-gap: 20px;
}

.topDiv{
  display: block;
  max-width: 250px;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
  border: 3px solid #999999;
  opacity: 90%;
}

.topDiv div{
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  color:black;
  margin-top: 10px;
}

.topDiv button{
  margin-bottom: 5px;
  width: 200px;
  height: 40px;
}

.close{
  background-color:rgb(45, 92, 59);
}
.close:hover{
  background-color: red;
  cursor: pointer;
}

.titleOfProject{
  font-size: 40px;
  text-align: center;
  color: #6df1a4;
  font-weight: bold;
  transform: translate(-20%,-50%);
}


.statusButton:hover {
  cursor: pointer;
}
.deleteButton:hover{
  cursor: pointer;
}
.addBook:hover{
  cursor: pointer;
}
.close{
  cursor: pointer;
}



@media screen and (max-width: 1024px) {
  .mainCardContainer{
display: inline-flex;
flex-direction: column;
align-items: center;
margin-left: 25%;
  }

  .titleOfProject{
    font-size: 40px;
    text-align: center;
    color:rgb(108, 255, 152);
    font-weight: bold;
    margin-left: 25%;
  }
}